:root {
  --primary-color: #94f3f3;
  --secondary-color: #f4bee1;
  --tertiary-color: #8266ba;
  --quartiary-color: #fdfb93;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: var(--primary-color);
}

#logo {
  margin: 10px;
}

.navBar {
  display: inline-block;
}

.navBar > * {
  float: left;
}
